* {
  box-sizing: border-box;
}

body {
  background-color: #ccff66;
  text-align: center;
}

h2 {
  color: #bc2600;
}

input {
  display: inline-block;
  text-align: center;
}
label {
  display: block;
}
